p {
  margin: 1em auto;
  text-align: center;
}
.box {
  width: 500px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}
.box div {
  display: flex;
  width: 50%;
}
.box div img {
  width: 100%;
}